.program{
  text-align: center;
  font-weight: bold;
  
}
#programs{
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
.abt{
  text-align: center;
}
.intro{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: large;
  font-weight: bold;
}
.img1{
  filter: grayscale(100%);
}
.img2{
  filter: grayscale(100%);
}
.img{
  filter: grayscale(100%);
}

.visit{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
 

}
.btn{
  background-color:rgba(0, 0, 0, 0.329);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;


}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid white;
  background-color: black;

}

@media screen and (max-width: 500px) {
  .programs {
      width: 80%;
      
  }
  .staff{
    width: 99%;
  }
  .center{
    width: 100%;
  }
}

.meet{
  text-align: center;
  font-family: 'Oswald',sans-serif;
  font-weight: bold;
}
.card-text{
  text-align: left;
}

footer{
  background-color: black;
  
}

